.doorOlivatorGemaaktWezebi{
    background-color: grey;
    transition-duration: 1000ms;
    padding: 50px;
    border: black 20px double  ;
    border-radius: 20px;
    box-shadow: grey 5px 5px 15px;
    text-align: center;
}

.doorOlivatorGemaaktWezebi:hover{
    padding: 100px;
    background-color: khaki;
    border: lightblue solid 50px;
    border-radius: 1130px;
    font-weight: 11500;
    font-size: xxx-large;
    text-decoration: underline;
    border-bottom: 100px grey double ;
}
